extends ../shared/template
block content
  h2 New Task
  
  form(method='post', action='/task')
    input(name='name', type='text', placeholder='Get Milk', autofocus=true)
    input(name='due', type='date')
    input(name='photo', type='text', placeholder='http://en.wikipedia.org/')
    input(name='tags', type='text', placeholder='grocery')
    input(name='priority', type='text', placeholder='high')
    button Add Task
