doctype html
html
  head
    meta(charset='utf-8')
    title Task Master
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Task Master
    nav
      a(href='/') Home
      a(href='/about') About
      a(href='/faq') Faq
      a(href='/contact') Contact
      a(href='/tasks') Tasks
      a(href='/tasks/new') New Tasks
      a(href='/priorities') Priorities
      a(href='/priorities/new') New Priorities

    block content

